
[mysqld]
data=/var/lib/mysql
basedir=/usr
user=mysql
bind-address=0.0.0.0

# For logfile configuration
# Directory for the errmsg.sys file in the language you want to use
#language=/usr/local/share/mysql/english

# Enable logging by default to help find problems
#log_error=/var/log/mysql/mariadb.err
#general-log
#log-slow-queries
